<app-navbar></app-navbar>
<div class="container">
        <div class="row truck">
            <div class="col-6 col-sm">
                <h1 class="create-title">
                    Mending Mindsets
                </h1>
                <p id="about-us">
                    A website , that lets you book hiking , art , dance and online consultations. It sheds the light on the importance of art therapy
                </p>
            </div>
            <div class="col-6 col-sm">
                <img id="about" src="/assets/about.png" >
            </div>
        </div>
        <div class="row tv">    
            <div class="col1 col-sm col-md">
                <img id="about-vision" src="/assets/vision.png" >
            </div>
            <div class="col2 col-sm col-md">
                <h1 class="vision-title">
                    Our Vision
                </h1>
                <p id="vision">
                    Our vision is to help people during these hard times....
                </p>
            </div>
        </div>
       

        <div class="row cust">
            <div class="col1 col-sm col-md">
                <h1 class="customer-title">
                    Customer Service
                </h1>
                <p id="customer">
                   We are available for your service 24/7.
                   Our operators are here to help!
                </p>
            </div>
            <div class="col2 col-sm col-md">
                <img id="service" src="/assets/service.png" >

            </div>
        </div>
</div>
