
<div class="container shipment-details-container">
    <div class="row">
        <div class="col-3 col-sm ship-name ">
            <p class="ship-title" >Drama Class </p>
            <p class="ship-id">ID 12042</p>
        </div>
        <div class="col-7 col-sm ship-estimate">
            <p class="estimated">Date</p>
            <p class="estimate-date">23 April 2021</p> 
        </div>
        <div class="col-2 col-sm align-btn" >
            <img class="rotated" src="/assets/dropdown.svg" (click)="panleExpanded=!panleExpanded"> 
        </div>   
    </div>
    <div *ngIf="panleExpanded" >
        <div class="row resp">
            <div class="col-3 col-sm departure">
                <div class="departure-title">
                   Course
                </div>
                <div class="row alignv ">
                    <div class="col-6 first">
                        Topic:
                    </div>
                    <div class="col-6 second ">
                       Body Movement
                    </div>
                </div>
                <div class="row alignv">
                    <div class="col-6 first ">
                        Time
                    </div>
                    <div class="col-6 second">
                       12:00 PM
                    </div>
                </div>
                <div class="row alignv">       
                    <div class="col-6 first">
                        Duration
                    </div>
                    <div class="col-6 second">
                       1h
                    </div>
                </div>  
            </div>
    
            <div class="col-3 col-sm departure">
                <div class="departure-title">
                    Instructor
                </div>
                <div class="row alignv">
                    <div class="col-6 first">
                        Name
                    </div>
                    <div class="col-6 second">
                       Victor
                    </div>
                </div>
                <div class="row alignv">
                    <div class="col-6 first">
                        FamilyName
                    </div>
                    <div class="col-6 second ">
                        Hajjar
                    </div>
                </div> 
                <div class="row alignv">
                    <div class="col-6 first">
                        Location
                    </div>
                    <div class="col-6 second">
                        Zoom
                    </div>
                </div>
                  
            </div>
           
    
        </div>
            <div class="row contact">
                Contact Info
            </div>
                
            <div class="row resp">
                <div class="col-4 col-sm client-info">
                    <div class="row client">
                        Instructor:
                    </div>
                    <div class="row phone">
                       71 488 274
                    </div>
                    <div class="row email">
                        victor.hajjar@hotmail.com
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm supervisor-info">
                <button  type="button"  class="create-button" >
                    <p id="button-font" > Reserve a place</p>
                </button>

            </div>
    </div>     
</div>


<div class="container shipment-details-container">
    <div class="row">
        <div class="col-3 col-sm ship-name ">
            <p class="ship-title" >High Intensity Training</p>
            <p class="ship-id">ID 12044</p>
        </div>
        <div class="col-7 col-sm ship-estimate">
            <p class="estimated">Date</p>
            <p class="estimate-date">1 June 2021</p> 
        </div>
        <div class="col-2 col-sm align-btn" >
            <img class="rotated" src="/assets/dropdown.svg" (click)="panleExpanded=!panleExpanded"> 

        </div>   
    </div>
    <div *ngIf="panleExpanded" >
        <div class="row resp">
            <div class="col-3 col-sm departure">
                <div class="departure-title">
                   Course
                </div>
                <div class="row alignv ">
                    <div class="col-6 first">
                        Topic:
                    </div>
                    <div class="col-6 second ">
                       High intensity class
                    </div>
                </div>
                <div class="row alignv">
                    <div class="col-6 first ">
                        Time
                    </div>
                    <div class="col-6 second">
                       6:00 PM
                    </div>
                </div>
                <div class="row alignv">       
                    <div class="col-6 first">
                        Duration
                    </div>
                    <div class="col-6 second">
                       1h
                    </div>
                </div>  
            </div>
    
            <div class="col-3 col-sm departure">
                <div class="departure-title">
                    Instructor
                </div>
                <div class="row alignv">
                    <div class="col-6 first">
                        Name
                    </div>
                    <div class="col-6 second">
                       Jimmy
                    </div>
                </div>
                <div class="row alignv">
                    <div class="col-6 first">
                        FamilyName
                    </div>
                    <div class="col-6 second ">
                        Akl
                    </div>
                </div> 
                <div class="row alignv">
                    <div class="col-6 first">
                        Location
                    </div>
                    <div class="col-6 second">
                        Teams
                    </div>
                </div>
                  
            </div>
           
    
        </div>
            <div class="row contact">
                Contact Info
            </div>
                
            <div class="row resp">
                <div class="col-4 col-sm client-info">
                    <div class="row client">
                        Instructor:
                    </div>
                    <div class="row phone">
                       78 818 640
                    </div>
                    <div class="row email">
                        jimmyakl@hotmail.com
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm supervisor-info">
                <button  type="button"  class="create-button" >
                    <p id="button-font" > Reserve a place</p>
                </button>

            </div>
    </div>     
</div>



<div class="container shipment-details-container">
    <div class="row">
        <div class="col-3 col-sm ship-name ">
            <p class="ship-title" >Hip Hop</p>
            <p class="ship-id">ID 12064</p>
        </div>
        <div class="col-7 col-sm ship-estimate">
            <p class="estimated">Date</p>
            <p class="estimate-date">23 June 2021</p> 
        </div>
        <div class="col-2 col-sm align-btn" >
            <img class="rotated" src="/assets/dropdown.svg" (click)="panleExpanded=!panleExpanded"> 

        </div>   
    </div>
    <div *ngIf="panleExpanded" >
        <div class="row resp">
            <div class="col-3 col-sm departure">
                <div class="departure-title">
                   Course
                </div>
                <div class="row alignv ">
                    <div class="col-6 first">
                        Topic:
                    </div>
                    <div class="col-6 second ">
                       Hip Hop
                    </div>
                </div>
                <div class="row alignv">
                    <div class="col-6 first ">
                        Time
                    </div>
                    <div class="col-6 second">
                       6:00 PM
                    </div>
                </div>
                <div class="row alignv">       
                    <div class="col-6 first">
                        Duration
                    </div>
                    <div class="col-6 second">
                       1h
                    </div>
                </div>  
            </div>
    
            <div class="col-3 col-sm departure">
                <div class="departure-title">
                    Instructor
                </div>
                <div class="row alignv">
                    <div class="col-6 first">
                        Name
                    </div>
                    <div class="col-6 second">
                       Ghida
                    </div>
                </div>
                <div class="row alignv">
                    <div class="col-6 first">
                        FamilyName
                    </div>
                    <div class="col-6 second ">
                        Diab Maalouf
                    </div>
                </div> 
                <div class="row alignv">
                    <div class="col-6 first">
                        Location
                    </div>
                    <div class="col-6 second">
                        Zoom
                    </div>
                </div>
                  
            </div>
            
    
        </div>
            <div class="row contact">
                Contact Info
            </div>
                
            <div class="row resp">
                <div class="col-4 col-sm client-info">
                    <div class="row client">
                        Instructor:
                    </div>
                    <div class="row phone">
                       76 736 542
                    </div>
                    <div class="row email">
                        ghidadiabmaalouf@hotmail.com
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm supervisor-info">
                <button  type="button"  class="create-button" >
                    <p id="button-font" > Reserve a place</p>
                </button>

            </div>
    </div>     
</div>