
<div class="container shipment-details-container">
    <div class="row">
        <div class="col-3 col-sm ship-name ">
            <p class="ship-title" >{{course.title}} </p>
            <p class="ship-id">{{course.courseId}}</p>
        </div>
        <div class="col-7 col-sm ship-estimate">
            <p class="estimated">Date</p>
            <p class="estimate-date">{{course.date | date:'medium'}}</p> 
        </div>
        <div class="col-2 col-sm align-btn" >
            <img class="rotated" src="/assets/dropdown.svg" (click)="panleExpanded=!panleExpanded"> 
        </div>   
    </div>
    <div *ngIf="panleExpanded" >
        <div class="row resp">
            <div class="col-3 col-sm departure">
                <div class="departure-title">
                   Course
                </div>
                <div class="row alignv ">
                    <div class="col-6 first">
                        Topic:
                    </div>
                    <div class="col-6 second ">
                      {{course.topic}}
                    </div>
                </div>
                <div class="row alignv">
                    <div class="col-6 first ">
                        Time
                    </div>
                    <div class="col-6 second">
                       {{course.date | date:'shortTime'}}
                    </div>
                </div>
                <div class="row alignv">       
                    <div class="col-6 first">
                        Duration
                    </div>
                    <div class="col-6 second">
                       {{ course.duration }} mins
                    </div>
                </div>  
            </div>
    
            <div class="col-3 col-sm departure">
                <div class="departure-title">
                    Instructor
                </div>
                <div class="row alignv">
                    <div class="col-6 first">
                        Name
                    </div>
                    <div class="col-6 second">
                       {{ course.instName}}
                    </div>
                </div>
                <div class="row alignv">
                    <div class="col-6 first">
                        Location
                    </div>
                    <div class="col-6 second">
                        {{ course.location }}
                    </div>
                </div>
                  
            </div>
           <img src={{course.imagePath}}>
    
        </div>
            <div class="col-6 col-sm supervisor-info">
                <button  type="button"  class="create-button" >
                    <p id="button-font" (click)="openAddDialog()" > Reserve a place</p>
                </button>

            </div>
    </div>     
</div>




