
<app-navbar></app-navbar>
<div class="container ">
    <carousel>
        <div class="carousel-cell">
            <img class="theatre" src="/assets/theatre.jfif"> 
            
        </div>
        <div class="carousel-cell">
            <img class="theatre" src="/assets/dance.jfif"> 
        </div>
        <div class="carousel-cell">
            <img class="theatre" src="/assets/gym.jfif"> 
        </div>
        <div class="carousel-cell">
            <img class="theatre" src="/assets/theatre2.jfif"> 
        </div>
        <div class="carousel-cell">
            <img class="theatre" src="/assets/dance2.jfif"> 
        </div>
       
        <div class="carousel-cell">
            <img class="theatre" src="/assets/gym2.jfif"> 
        </div>
           
    </carousel>
    <div class="row text">
            It's normal to feel sad,stressed, confused, scared or angry during these hard times... Expressing yourself can really help , even if it's online!
    </div>
    <div clas="row">
        <button  type="button"  class="create-button">
            <p id="button-font" > Register now</p>
        </button>
    </div>
    
</div>


