
<app-navbar></app-navbar>

<carousel>
    <div class="carousel-cell">
        <img src="/assets/theatre.jfif">
    </div>
    <div class="carousel-cell">
        <img src="/assets/dance.jfif">
    </div>
    <div class="carousel-cell">
        <img src="/assets/gym.jfif">
    </div>
    <div class="carousel-cell">
        <img src="/assets/theatre2.jfif">
    </div>
    <div class="carousel-cell">
        <img src="/assets/dance2.jfif">
    </div>
    <div class="carousel-cell">
        <img src="/assets/gym2.jfif">
    </div>
</carousel>


<div class="row text">
    It's normal to feel sad, stressed, confused , scared or angry during these hard times.... Expressing tourself can really help , even if it's online
</div>
<div class="row">
    <button class="submit" ><p class="submit-butt"> Register now</p></button>
</div>
