<app-navbar></app-navbar>
<div class="container">
        <div class="row align-right">
            <div class="col-6 align-top">
                <p class="title-getInTouch" >Let's Get In Touch</p>
                <p class="text-underTitle">Mending Mindsets is here to help. Delivering Happiness to you 24/7 </p>
                <div class="container">
                    <div class="row graphicInfo">
                        <div class="col-3">
                            <img src="/assets/phone icon.svg" >
                        </div>
                        <div class="col-9">
                             <p class="info"> +961 1 234 567</p>
                        </div>
                    </div>
                    <div class="row graphicInfo">
                        <div class="col-3">
                             <img src="/assets/email icon.svg" >
                        </div>
                        <div class="col-9">
                             <p class="info">info@mendingmindsets.com</p>
                        </div>
                    </div>
                    <div class="row graphicInfo">
                        <div class="col-3">
                            <img src="/assets/location icon.svg" >
                        </div>
                        <div class="col-9">
                             <p class="info">Zahle,Lebanon</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <img class="contact-us-pic" src="/assets/contact us illu.png" >
            </div>

    </div>
</div>


   
                
             
                      


                     
                
                       
              
                         
                        


                
   



